.date{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 0px;
}

#date{
    text-align: center;
    color: white;
}

#time{
    text-align: center;
    margin-bottom: 30px;
}

#timer{
    font-size: 100px;
}

.dateTop{
    margin-top: -80px;
    margin-bottom: 80px;
}

.dateBottom{
    margin-bottom: 30px;
}