#bodywrap {margin: 0 auto;}

html, body {
    background-color: #424549;
    margin: auto;
    height: 100%;
    padding: 0px;
}

.header {
    width: 1170px;
    height: 80px;
    margin: 0px auto;
    padding: 0px;
    position: relative;
	background: #36393e;
}


.violetaLogo {
    margin-left: 30px;
    font-size: 30px;
    vertical-align: middle;
    color: white;
}

.menu {
    float: right;
}

.menu ul {
    padding-right: 0px;

}

.menu li {
    float: left;
    list-style: none;
    padding-left: 0px;
    font-size: 15px;
}

.menu a{
    padding: 0 30px 0 50px;
    display: block;
    color: white;
    text-decoration-line: none;
}

footer{
    background-color: #36393e;
    height: 80px;
    bottom: 0px;
    width: 100%;
    position: absolute;
}

.footerText{
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    padding-top: 1.5%;
}

#body-wrapper {
    min-height: 100%;
    position: relative;
}
#body-content {
    margin-top: 100px;
    padding-bottom: 99999px;
}
