#bodywrap {margin: 0 auto;}

html, body {
    background-color: darkgray;
    margin: auto;
    height: 100%;
    padding: 0;
}

.header {
    width: 1170px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    position: relative;
	background: gray;
}

.menu {

}

.menu ul {
    list-style: none;
    padding-left: 0px;
}

.menu li {
    float: left;
    list-style: none;
    padding-left: 0px;
    
}

.menu a{
    padding: 0 15px;
    display: block;
}

footer{
    background-color: gray;
    height: 100px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.footerText{
    color: aliceblue;
    font-size: 22;
    text-align: center;
    padding-top: 2%;
}

#body-wrapper {
    min-height: 100%;
    position: relative;
}
#body-content {
    margin-top: 100px;
    padding-bottom: 99999px;
}
